/* Common styles for all cards */
.card, .user-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: auto;
    border-radius: 15px;
    background-color: #f4f4f4; /* Light gray background color */
    color: #333; /* Dark text color */
}

.card {
    width: 250px;
    padding: 25px;
    text-align: center;
    margin-top: 50px;
}

.user-card {
    display: inline-block;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}

/* Field styles */
.field {
    margin-top: 20px;
}

/* Button styles */
.acceptbtn {
    background-color: #333; /* Dark gray button color */
    border-radius: 5px;
    padding: 8px 15px; /* Adjusted padding for better proportions */
    cursor: pointer; /* Add cursor pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for button color */
    color: #fff; /* White text color */
}

.acceptbtn:hover {
    background-color: #555; /* Darker gray on hover */
}

/* Button row styles */
.button-row {
    margin-top: 15px;
}

/* Additional styling for links */
a {
    color: #333; /* Link color */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for link color */
}

a:hover {
    color: #555; /* Darker gray on hover */
}
